/* home styles */

.home .card {
  padding: 1.3rem;
  border: 1px solid rgb(43, 43, 44);
  box-shadow: 4px 4px rgba(247, 245, 247, 0.5);
  margin-top: 20px;
}

.home h2 {
  font-size: 1.4rem;
}

.home .card h3,
.home h2 {
  font-weight: 500;
}

.home .card p {
  color: rgb(201, 200, 200);
  margin: 0.7rem 0;
}

.home .card a {
  text-decoration: none;
  color: #fff;
}
