/* app component */

.App {
  max-width: 970px;
  margin: 5rem auto;
  padding: 0 2rem;
}

/* nav styles */

nav {
  display: flex;
  margin: 0 auto 60px;
  justify-content: space-between;
  align-items: center;
}

nav h2 {
  color: #7189ff;
}

nav a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #fff;
  padding: 6px 30px;
  font-weight: 700;
}

nav a.active {
  border-bottom: 1px solid #7189ff;
}
